@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
}

.caixa-lateral {
    width: 491px;
    height: 500vh;
    position: sticky;
    left: 1200px;
    background-color: rgba(93, 93, 125, 0.16);
}

a:nth-child(2) {
    opacity: .6;
}

a:hover {
    opacity: .4;
}

a:active {
    opacity: .2;
}

.imagem-principal {
    position: relative;
    top: 161px;
    right: 128px;
    
}

header {
    position: absolute;
    top:24px;
    left: 57px;
    font-weight: 400;
    font-size: 28px;
    line-height: 41.5px;
    color: black;
    cursor: pointer;
}



.cabeçalho {
    margin-right: 41px;
    color: #5D5D7D;
}

 main {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 300px;
    left: 30px;
} 
h2 {
    /* position: absolute;
    top: 381px;
    left: 136px; */
    width: 368px;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
}

p {
    /* position: absolute;
    top: 556px;
    left: 136px; */
    width: 540px;
    font-size: 28px;
    font-weight: 48px;
    color: #5D5D7D;
    opacity: 0.5;
    margin: 15px 0 15px;
}

button {
    /* position: absolute;
    top: 700px;
    left: 100px; */
    background: #9499EA;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px #808080);
    width: 269px;
    height: 62px;
    font-size: 24px;
    line-height: 35.57px;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 15px;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}

